.font{
	font-family:Roboto ;
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding: 20px;

}
.bgimg2{
	background-image: url('https://image.freepik.com/free-vector/digital-mobile-smartphone-technology-background-with-circuit-diagram_1017-21004.jpg');
	background-size: cover;
	height: 170vh;
	width: 100vw;
}
.layoutcard2{
	background-color: white;
	border-radius: 8px;
	margin: 18px;
	padding: 20px;
}
